@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-navy: #0F294A;
  --brand-gold: #D6A129;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-navy: var(--brand-navy);
  --color-brand-gold: var(--brand-gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
